#container {
    overflow-x: hidden;
    max-height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: larger;
    background-repeat: repeat;
    background-attachment: scroll;
    background: repeating-linear-gradient(#16697A, #FFA62B);
    overflow-y: overlay;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.titleDiv {
    margin-top: 0 !important;
}

#title {
    transition: transform 0.1s linear
}

#info {
    transition: transform 0.1s linear
}

.main {
    padding: 5px;
    margin-top: 3vw;
    text-align: center;
}
